@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
    /*background-image: url("../images/hi_rez_hero_image.jpg");*/
	/*background-size: 100%, 100%;
    background-repeat: no-repeat;*/
    background-color: #e7e1e3;
    font-family: Arial;
    font-size: 22;
    text-align: left;
    line-height: 1.5em;
    margin: 2em;
}

h1 {
	font-size: 60px;
	color: #a60e59;
	font-family: 'Rokkitt', serif;
}

p img {
	text-align: center;
}

#slogan {
	font-size: 30;
	font-style: italic;
	font-family: 'Lato', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Droid Serif', serif;
}

a {
	color: #a60e59;
}

#uppercase {
	text-transform: uppercase;
	color: #a60e59;
}

.caps {
	text-transform: capitalize;
}
.body-copy {
	font-family: 'Arimo', sans-serif;
}
h2 {
	font-family: 'Droid Serif', serif;
	text-align: center;
}
.emphasis {
	color: #a60e59;
	font-style: italic;
}