* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(https://fonts.googleapis.com/css?family=Bitter);

body {
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Bitter', serif;
}


nav {
	text-align: center;
	margin: .7em 0;
	font-family: Georgia, 'Times New Roman', serif;
}



nav img {
	height: .8em;
	margin: 0 2em;
}

nav a {
	text-transform: uppercase;
	font-size: .9em;
}


a:link {
	text-decoration: none;
	color: #432f21;
}

a:hover {
    color: #ca171b;
}

a:visited {
	color: #432f21;
}


article {
	float: left;
	width: 25%;
	margin-bottom: 3em;
	padding-top: 2em;
	text-align: center;
}

article img {
	display: block;
	margin: auto;
	width: 180px;
}



h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2em;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	color: #b4b4b4;
}


h4 {
	font-size: 1em;
}


input {
	margin-left: 1em;
}


.header {
	background-color: #f2f2f3;
}

.header div {
	width: 33%;
	float: left;
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
}

.header_align {
	text-align: center;
	padding-top: 2em;
	font-size: .7em;
}


.header_align a {
	padding: 0 .7em;
}


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.line {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 3px;
}



#wrapper {
	width: 90%;
	border: 1px solid black;
	font-size: 1em;
	margin: 1em auto;
}



#logo_image {
	max-width: 50%;
	margin: 1em auto;
}

#cart_image {
	max-width: 7%;
	padding: 0 .3em;
}


#hero_image img {
	width: 100%;
}



#categories {
	margin: 1em auto;
	width: 90%;
}



#full_line_bg {
	text-align: center;
    background-color: #f2f2f3;
    height: 5px;
}

#full_line_bg img {
	margin-top: -2em;
	width: 38%;
	min-width: 246px;
}

#full_line_bg_mobile {
	text-align: center;
    background-color: #f2f2f3;
    height: 5px;
    margin: 1.5em 0 2em 0;
}

#full_line_bg_mobile img {
	margin-top: -1em;
	width: 60%;
	min-width: 200px;
}

#central_text {
	text-align: center;
	text-transform: uppercase;
	margin: 5%;
	font-size: 1.1em;
	font-family: 'Open Sans',sans-serif;
	color: #432f21;
}
#central_text p {
	margin-top: 1em;
}

#pattern {
	margin-top: -2%;
	border-top: 3px solid #f2f2f3;
	border-bottom: 3px solid #f2f2f3;
	padding-top: .3em;
}

#pattern img {
	width: 100%
}


#paymentinfo {
	text-align: center;
	background-color: #f2f2f3;
	text-transform: uppercase;
	padding: 2em 0;
}

#paymentinfo img {
	margin: 2em 1em;
	width: 4%;
	min-width: 35px;
}


#search_icon {
    	max-width: 1%;
    	padding-top: 1em 3em;
}

#smallest_nav {
	width: 100%;
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
	/*border: 1px solid green;*/
}

#smallest_header {
	background-color: #f2f2f3;
}

#smallest_nav a {
	text-transform: uppercase;
	font-size: .8em;

}


#smallest_nav div {
	line-height: 1em;

}


#login_icon {
	display: inline-block;
	width: 20%;

}

#login_icon img {
	width: 70%;
	vertical-align: bottom;

}

#nav_search_icon {
	display: inline-block;
	width: 20%;


}

#nav_search_icon img {
	width: 25%;
	vertical-align: bottom;

}

#order_status {
	display: inline-block;
	width: 55%;
	font-size: 1.2em;
	text-decoration: underline;
}

#free {
	color: #ca171b;
}



#services div {
	/*border: 1px solid black;*/
    width: 82%;
    margin: .5em auto;
}



#service_icons img {
	width: 20%;
    float: left;
    padding-left: .5em;
}

#service_icons_mobile {
	margin-bottom: .3em;
}
#service_icons_mobile img {
	width: 32%;
	padding-left: .3em;
}





@media only screen and (max-width: 1130px) {
	#central_text {
		font-size: 1em;
		margin: 7%;
	}
  
}


@media only screen and (max-width: 930px) {
	nav img {
		margin: 0 1em;
	}
	.header_align img {
		min-width: 19px;
	}
	
  
}

@media only screen and (max-width: 840px) {
	.header_align {
		font-size: .6em;
	}
	#categories {
		width: 100%;
	}
	#categories img {
		width: 100%;
	}
	#central_text {
		font-size: 1em;
    	margin: 4em .6em;
	}
	h1 {
		font-size: 1.3em;
	}
	#services div {
		width: 90%;
	}
  
}






@media only screen and (max-width: 740px) {
	nav img {
		display: none;
	}
	nav a {
		padding: 0 .5em;
		font-size: .8em;
	}
	nav {
		margin: .4em 0;
	}
	#big_header {
		display: none;
	}
	h1 {
		font-size: 1.2em;
	}
	#services div {
		width: 90%;
	}
	#central_text {
		font-size: .8em;
    	margin: 4em .6em;
	}
  
}

@media only screen and (min-width: 740px) {
	#small_header {
		display: none;
	}
}


@media only screen and (max-width: 660px) {
	h1 {
		font-size: 1em;
	}
	h4 {
		font-size: .8em;
	}
	#services {
		display: none;
	}
	h1 {
		margin-top: 1em;
	}
	article {
		padding-top: 0;
	}
  
}

@media only screen and (max-width: 610px) {
	#logo_image {
		margin: 1.5em auto 1em;
	}
	#central_text {
		display: none;
	}
	#pattern {
    	margin-top: 8%;
	}
	h1 {
		font-size: .9em;
	}
  
}

@media only screen and (max-width: 520px) {
	nav a {
		padding: 0 .5em;
		font-size: .6em;
	}
	input {
    	margin: 0 auto;
	}
	h1 {
		font-size: .8em;
	}
  
}

@media only screen and (max-width: 480px) {
	#small_header {
		display: none;
	}
	input {
		display: none;
	}
	#hamburger_icon {
		width: 38%
	}

	#red_cart_image {
		width: 50%;
		margin-top: .5em;
	}
	#logo_image {
    	min-width: 50%;
    	margin: .5em 0;
	}
	nav {
		display: none;
	}
	
	#smallest_nav a {
		padding: 0 .5em;
		font-size: .6em;
	}
	#hero_image_mobile img {
		width: 100%
	}
	#hero_image {
		display: none;
	}

	#paymentinfo {
		display: none;
	}
	h1 {
		display: none;
	}

	#mobile_footer {
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: .8em;
		background-color: #f2f2f3;
	
	}
	#support img {
		width: 15%;
		
	}
	
	#social_icons img {
		width: 12%;
		padding: .5em .5em;
	}
	.header_align {
		width: 25%;
		display: inline-block;
		padding: .2em 0;
	}

	#filler {
		width: 47%;
		display: inline-block;
	}
	article {
		padding-top: 0;
	}
	#categories {
		margin-top: .6em;
		margin-bottom: 0
	}
	#full_line_bg {
		display: none;
	}
	#pattern {
		margin-top: 0%;
	}
	
}

@media only screen and (min-width: 480px) {
	#smallest_header {
		display: none;
	}
	#red_cart_image {
		display: none;
	}
	#smallest_nav {
		display: none;
	}
	#mobile_footer {
		display: none;
	}
	#services_mobile {
		display: none;
	}
	#full_line_bg_mobile {
		display: none;
	}
	#hero_image_mobile img {
		display: none;
	}
	

}